@model MuhasebeStokWebApp.ViewModels.Urun.UrunViewModel

@{
    ViewData["Title"] = "Ürün Detayları";
}

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h3>Ürün Detayları</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Ürünler</a></li>
                    <li class="breadcrumb-item active">Ürün Detayları</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>@Model.UrunAdi</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UrunAdi)</dt>
                                <dd class="col-sm-8">@Model.UrunAdi</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.KategoriAdi)</dt>
                                <dd class="col-sm-8">@Model.KategoriAdi</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.StokMiktar)</dt>
                                <dd class="col-sm-8">@Model.StokMiktar</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Aktif)</dt>
                                <dd class="col-sm-8">
                                    @if (Model.Aktif)
                                    {
                                        <span class="badge badge-success">Aktif</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Pasif</span>
                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ListeFiyati)</dt>
                                <dd class="col-sm-8">@Model.ListeFiyati.ToString("N2") ₺</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.MaliyetFiyati)</dt>
                                <dd class="col-sm-8">@Model.MaliyetFiyati.ToString("N2") ₺</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.SatisFiyati)</dt>
                                <dd class="col-sm-8">@Model.SatisFiyati.ToString("N2") ₺</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.OlusturmaTarihi)</dt>
                                <dd class="col-sm-8">@(Model.OlusturmaTarihi.HasValue ? Model.OlusturmaTarihi.Value.ToString("dd.MM.yyyy HH:mm") : "-")</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.GuncellemeTarihi)</dt>
                                <dd class="col-sm-8">@(Model.GuncellemeTarihi.HasValue ? Model.GuncellemeTarihi.Value.ToString("dd.MM.yyyy HH:mm") : "-")</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <a asp-action="Edit" asp-route-id="@Model.UrunID" class="btn btn-primary">Düzenle</a>
                        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 