@model MuhasebeStokWebApp.ViewModels.Kasa.KasaViewModel
@{
    ViewData["Title"] = "Kasa Detayları";
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Kasa Detayları</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-controller="Kasa" asp-action="Index">Kasalar</a></li>
                    <li class="breadcrumb-item active">Kasa Detayları</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">@Model.KasaAdi</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.KasaAdi)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.KasaAdi)</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.KasaTuru)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.KasaTuru)</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Aciklama)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.Aciklama)</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.AcilisBakiye)</dt>
                                <dd class="col-sm-8">@Model.AcilisBakiye.ToString("N2") ₺</dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.GuncelBakiye)</dt>
                                <dd class="col-sm-8">
                                    <span class="badge @(Model.GuncelBakiye >= 0 ? "badge-success" : "badge-danger")">
                                        @Model.GuncelBakiye.ToString("N2") ₺
                                    </span>
                                </dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Aktif)</dt>
                                <dd class="col-sm-8">
                                    @if (Model.Aktif)
                                    {
                                        <span class="badge badge-success">Aktif</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Pasif</span>
                                    }
                                </dd>
                                
                                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.OlusturmaTarihi)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(model => model.OlusturmaTarihi)</dd>
                            </dl>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <a asp-action="Hareketler" asp-route-id="@Model.KasaID" class="btn btn-info">
                                    <i class="fa fa-list"></i> Kasa Hareketleri
                                </a>
                                <a asp-action="Edit" asp-route-id="@Model.KasaID" class="btn btn-primary">
                                    <i class="fa fa-edit"></i> Düzenle
                                </a>
                                <a asp-action="YeniHareket" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Yeni Hareket
                                </a>
                                <a asp-action="Index" class="btn btn-secondary">
                                    <i class="fa fa-arrow-left"></i> Listeye Dön
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 