@model MuhasebeStokWebApp.Data.Entities.Cari

<div class="row">
    <div class="col-md-12 mb-3">
        <h4 class="border-bottom pb-2">@Model.Ad</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cari Bilgileri</h5>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Cari Kodu:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.CariKodu)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Cari Adı:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Ad)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Cari Tipi:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.CariTipi)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Vergi No:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.VergiNo)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Vergi Dairesi:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.VergiDairesi)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Para Birimi:</strong>
                    </div>
                    <div class="col-md-6">
                        @(Model.VarsayilanParaBirimi?.Sembol ?? "₺")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">İletişim Bilgileri</h5>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Telefon:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Telefon)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>E-posta:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Web Sitesi:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.WebSitesi)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Adres:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Adres)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>İlçe:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Ilce)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>İl:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Il)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Ülke:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Ulke)
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <strong>Yetkili:</strong>
                    </div>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.Yetkili)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Açıklama</h5>
                <p>@Html.DisplayFor(model => model.Aciklama)</p>
            </div>
        </div>
    </div>
</div> 