@model dynamic
@{
    ViewData["Title"] = "Anasayfa";
    ViewData["ActiveMenu"] = "Anasayfa";
    string paraBirimi = ViewBag.ParaBirimi ?? "TL"; // Varsayılan para birimi
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>Hata!</strong> @ViewBag.ErrorMessage
    </div>
}

<!-- Container-fluid başlangıç -->
<div class="container-fluid dashboard-default-sec">
    <div class="row">
        <div class="col-xl-5 box-col-12 des-xl-100">
            <div class="row">
                <div class="col-xl-12 col-md-6 box-col-6 des-xl-50">
                    <div class="card profile-greeting">
                        <div class="card-header">
                            <div class="header-top">
                                <div class="setting-list">
                                    <ul class="list-unstyled setting-option">
                                        <li>
                                            <div class="setting-primary"><i class="fa fa-cog"></i></div>
                                            <ul class="setting-option">
                                                <li><a href="#"><i class="fa fa-refresh"></i> Yenile</a></li>
                                                <li><a href="#"><i class="fa fa-edit"></i> Düzenle</a></li>
                                                <li><a href="#"><i class="fa fa-trash-o"></i> Sil</a></li>
                                            </ul>
                                        </li>
                                        <li><i class="view-html fa fa-code font-white"></i></li>
                                        <li><i data-feather="maximize" class="full-card font-white"></i></li>
                                        <li><i data-feather="minus" class="minimize-card font-white"></i></li>
                                        <li><i data-feather="refresh-cw" class="reload-card font-white"></i></li>
                                        <li><i data-feather="x" class="close-card font-white"></i></li>
                                    </ul>
                        </div>
                            </div>
                        </div>
                        <div class="card-body text-center p-t-0">
                            <h3 class="font-light">Hoş Geldiniz, @User.Identity?.Name!</h3>
                            <p>Muhasebe Stok Web App'e hoş geldiniz! İşletmenizin büyümesine yardımcı olmaktan mutluluk duyarız.</p>
                            <a asp-action="Profile" asp-controller="Account" class="btn btn-light">Profili Güncelle</a>
                        </div>
                        <div class="confetti">
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                            <div class="confetti-piece"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
                    <div class="card income-card">
                        <div class="card-body text-center">
                            <div class="round-box card-green">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                    <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                    <polyline points="17 6 23 6 23 12"></polyline>
                                </svg>
            </div>
                            <h5>@((ViewBag.TotalRevenue != null ? Convert.ToDecimal(ViewBag.TotalRevenue) : 0).ToString("N2")) ₺</h5>
                            <p>Toplam Gelir</p>
                            <a class="btn-arrow arrow-success" href="javascript:void(0)">
                                <i class="toprightarrow-success fa fa-arrow-up me-2"></i>95.54%
                            </a>
                            <div class="parrten">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up">
                                    <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                    <polyline points="17 6 23 6 23 12"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-3 col-sm-6 box-col-3 des-xl-25 rate-sec">
                    <div class="card income-card">
                        <div class="card-body text-center">
                            <div class="round-box card-red">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down">
                                    <polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline>
                                    <polyline points="17 18 23 18 23 12"></polyline>
                                </svg>
            </div>
                            <h5>@((ViewBag.TotalExpense != null ? Convert.ToDecimal(ViewBag.TotalExpense) : 0).ToString("N2")) ₺</h5>
                            <p>Toplam Gider</p>
                            <a class="btn-arrow arrow-danger" href="javascript:void(0)">
                                <i class="toprightarrow-danger fa fa-arrow-up me-2"></i>90.54%
                            </a>
                            <div class="parrten">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down">
                                    <polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline>
                                    <polyline points="17 18 23 18 23 12"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 box-col-12 des-xl-100 dashboard-sec">
            <div class="card income-card">
                <div class="card-header">
                    <div class="header-top d-sm-flex align-items-center">
                        <h5>Satış Genel Bakış</h5>
                        <div class="center-content">
                            <p class="d-sm-flex align-items-center">
                                <span class="font-primary m-r-10 f-w-700">@(((ViewBag.TotalRevenue != null ? Convert.ToDecimal(ViewBag.TotalRevenue) : 0) - (ViewBag.TotalExpense != null ? Convert.ToDecimal(ViewBag.TotalExpense) : 0)).ToString("N2")) ₺</span>
                                <i class="toprightarrow-primary fa fa-arrow-up m-r-10"></i>86% Geçen yıla göre daha fazla
                            </p>
                        </div>
                        <div class="setting-list">
                            <ul class="list-unstyled setting-option">
                                <li>
                                    <div class="setting-primary"><i class="fa fa-cog"></i></div>
                                </li>
                                <li><i class="view-html fa fa-code font-primary"></i></li>
                                <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                <li><i class="icofont icofont-error close-card font-primary"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div id="chart-timeline-dashbord"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 box-col-12 des-xl-100">
            <div class="row">
                <div class="col-xl-6 col-50 box-col-6 des-xl-50">
            <div class="card">
                        <div class="card-header">
                            <div class="header-top d-sm-flex align-items-center">
                                <h5>Büyüme Genel Bakış</h5>
                                <div class="center-content">
                                    <p class="d-flex align-items-center">
                                        <i class="toprightarrow-primary fa fa-arrow-up me-2"></i>80% Büyüme
                                    </p>
                </div>
                                <div class="setting-list">
                                    <ul class="list-unstyled setting-option">
                                        <li>
                                            <div class="setting-primary"><i class="fa fa-cog"></i></div>
                                        </li>
                                        <li><i class="view-html fa fa-code font-primary"></i></li>
                                        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                        <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                    </ul>
                            </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div id="chart-dashbord"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-50 box-col-6 des-xl-50">
                    <div class="card latest-update-sec">
                <div class="card-header">
                            <div class="header-top d-sm-flex align-items-center">
                                <h5>Yapılacaklar (Todo)</h5>
                                <div class="center-content">
                                    <ul class="week-date">
                                        <li class="font-primary">Bekleyenler</li>
                                        <li><a href="@Url.Action("Index", "Todo")">Hepsini Gör</a></li>
                                    </ul>
                </div>
                                <div class="setting-list">
                                    <ul class="list-unstyled setting-option">
                                        <li>
                                            <div class="setting-primary"><i class="fa fa-cog"></i></div>
                                        </li>
                                        <li><i class="view-html fa fa-code font-primary"></i></li>
                                        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                        <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                    </ul>
                </div>
            </div>
        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordernone">
                                    <tbody>
                                        @if (ViewBag.RecentTodos != null && ViewBag.RecentTodos.Count > 0)
                                        {
                                            var pendingTodos = new List<dynamic>();
                                            foreach (var todo in ViewBag.RecentTodos)
                                            {
                                                if (!todo.IsCompleted)
                                                {
                                                    pendingTodos.Add(todo);
                                                }
                                            }
                                            
                                            if (pendingTodos.Any())
                                            {
                                                foreach (var todo in pendingTodos)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="media">
                                                                <i class="@todo.TaskIcon" style="font-size: 24px; margin-right: 10px;"></i>
                                                                <div class="media-body">
                                                                    <span>@todo.Title</span>
                                                                    <p>
                                                                        @if (todo.Deadline != null)
                                                                        {
                                                                            if (((DateTime)todo.Deadline).Date < DateTime.Now.Date && !todo.IsCompleted)
                                                                            {
                                                                                <span class="text-danger">Gecikmiş: @(((DateTime)todo.Deadline).ToString("dd MMM yyyy"))</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>Son Tarih: @(((DateTime)todo.Deadline).ToString("dd MMM yyyy"))</span>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>@todo.TaskCategory</span>
                                                                        }
                                                                    </p>
                </div>
            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <button type="button" class="btn btn-sm btn-success me-2 complete-todo" data-id="@todo.Id" title="Tamamla">
                                                                    <i class="fa fa-check"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-sm btn-primary edit-todo" data-id="@todo.Id" title="Düzenle">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
        </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="3" class="text-center">
                                                        <p>Bekleyen görev bulunamadı.</p>
                                                        <button type="button" class="btn btn-primary btn-sm" id="addNewTodo">
                                                            <i class="fa fa-plus-circle me-1"></i> Yeni Görev Ekle
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="3" class="text-center">
                                                    <p>Aktif görev bulunamadı.</p>
                                                    <button type="button" class="btn btn-primary btn-sm" id="addNewTodo">
                                                        <i class="fa fa-plus-circle me-1"></i> Yeni Görev Ekle
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                </div>
            </div>
        </div>
                </div>
                <div class="col-xl-12 recent-order-sec">
                    <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                                <h5>Son Siparişler</h5>
                                <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th>Ürün</th>
                                            <th>Tarih</th>
                                    <th>Miktar</th>
                                            <th>Değer</th>
                                            <th>Durum</th>
                                            <th>
                                                <div class="setting-list">
                                                    <ul class="list-unstyled setting-option">
                                                        <li>
                                                            <div class="setting-primary"><i class="fa fa-cog"></i></div>
                                                        </li>
                                                        <li><i class="view-html fa fa-code font-primary"></i></li>
                                                        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                                        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                                        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                                        <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                                    </ul>
                                                </div>
                                            </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.TopProducts != null)
                                {
                                    foreach (var product in ViewBag.TopProducts)
                                    {
                                        <tr>
                                                    <td>
                                                        <div class="media">
                                                            <img class="img-fluid rounded-circle" src="~/assets/images/dashboard/product-1.png" alt="" data-original-title="" title="">
                                                            <div class="media-body">
                                                                <a href="javascript:void(0)"><span>@product.ProductName</span></a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <p>@DateTime.Now.AddDays(-new Random().Next(1, 30)).ToString("dd MMMM")</p>
                                                    </td>
                                                    <td>
                                                        <p>@product.TotalQuantity.ToString("N2")</p>
                                                    </td>
                                                    <td><img class="img-fluid" src="~/assets/images/dashboard/graph-1.png" alt="" data-original-title="" title=""></td>
                                                    <td>
                                                        <p>@product.TotalSales.ToString("N2") TL</p>
                                                    </td>
                                                    <td>
                                                        <p>Tamamlandı</p>
                                                    </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                                <td colspan="6" class="text-center">Veri bulunamadı</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 box-col-12 des-xl-100">
            <div class="row">
                <div class="col-xl-12 box-col-6 des-xl-50">
            <div class="card">
                <div class="card-header">
                            <div class="header-top d-sm-flex align-items-center">
                                <h5>Kullanıcı Aktiviteleri</h5>
                                <div class="center-content">
                                    <p>Yıllık Kullanıcı 24.65k</p>
                </div>
                                <div class="setting-list">
                                    <ul class="list-unstyled setting-option">
                                        <li>
                                            <div class="setting-primary"><i class="fa fa-cog"></i></div>
                                        </li>
                                        <li><i class="view-html fa fa-code font-primary"></i></li>
                                        <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                        <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div id="user-activation-dash-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 box-col-6 des-xl-50">
                    <div class="card trasaction-sec">
                        <div class="card-header">
                            <div class="header-top d-sm-flex align-items-center">
                                <h5>İşlemler</h5>
                                <div class="center-content">
                                    <p>5878 Başarılı İşlem</p>
                                </div>
                                <div class="setting-list">
                                    <ul class="list-unstyled setting-option">
                                        <li>
                                            <div class="setting-secondary"><i class="fa fa-cog"></i></div>
                                        </li>
                                        <li><i class="view-html fa fa-code font-secondary"></i></li>
                                        <li><i class="icofont icofont-maximize full-card font-secondary"></i></li>
                                        <li><i class="icofont icofont-minus minimize-card font-secondary"></i></li>
                                        <li><i class="icofont icofont-refresh reload-card font-secondary"></i></li>
                                        <li><i class="icofont icofont-error close-card font-secondary"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="transaction-totalbal">
                            <h2>@(((ViewBag.TotalRevenue != null ? Convert.ToDecimal(ViewBag.TotalRevenue) : 0) - (ViewBag.TotalExpense != null ? Convert.ToDecimal(ViewBag.TotalExpense) : 0)).ToString("N2")) TL
                                <span class="ms-3">
                                    <a class="btn-arrow arrow-secondary" href="javascript:void(0)">
                                        <i class="toprightarrow-secondary fa fa-arrow-up me-2"></i>98.54%
                                    </a>
                                </span>
                            </h2>
                            <p>Toplam Bakiye</p>
                        </div>
                        <div class="card-body p-0">
                            <div id="chart-3dash"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid bitişi -->

<!-- Todo Modal -->
<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="todoModalLabel">Görev Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="todoForm">
                    <input type="hidden" id="todoId" name="Id" />
                    <div class="mb-3">
                        <label for="todoTitle" class="form-label">Başlık</label>
                        <input type="text" class="form-control" id="todoTitle" name="Title" required>
                        <small class="text-muted">Başlık değiştirildiğinde kategori otomatik güncellenecektir.</small>
                    </div>
                    <div class="mb-3">
                        <label for="todoCategory" class="form-label">Kategori</label>
                        <input type="text" class="form-control" id="todoCategory" name="TaskCategory" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="todoDescription" class="form-label">Açıklama</label>
                        <textarea class="form-control" id="todoDescription" name="Description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="todoDeadline" class="form-label">Son Tarih</label>
                        <input type="date" class="form-control" id="todoDeadline" name="Deadline">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="todoIsCompleted" name="IsCompleted">
                        <label class="form-check-label" for="todoIsCompleted">
                            Tamamlandı
                        </label>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="saveTodoBtn">Kaydet</button>
            </div>
                </div>
            </div>
        </div>

<!-- Yeni Todo Modal -->
<div class="modal fade" id="newTodoModal" tabindex="-1" role="dialog" aria-labelledby="newTodoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTodoModalLabel">Yeni Görev Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="newTodoForm">
                    <div class="mb-3">
                        <label for="newTodoTitle" class="form-label">Başlık</label>
                        <input type="text" class="form-control" id="newTodoTitle" name="Title" required>
                        <small class="text-muted">Başlık içeriğine göre kategori otomatik belirlenecektir.</small>
                    </div>
                    <div class="mb-3">
                        <label for="newTodoDescription" class="form-label">Açıklama</label>
                        <textarea class="form-control" id="newTodoDescription" name="Description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="newTodoDeadline" class="form-label">Son Tarih</label>
                        <input type="date" class="form-control" id="newTodoDeadline" name="Deadline">
                </div>
                </form>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="addTodoBtn">Ekle</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/dashboard/default.js"></script>
    <!-- Toastr Kütüphanesi -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script>
        // Sayfa yüklendiğinde
        $(document).ready(function () {
            // Toastr ayarları
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            
            // Todo düzenleme modalını açma
            $('.edit-todo').on('click', function () {
                var todoId = $(this).data('id');
                
                // AJAX ile todo verilerini çekme
                $.ajax({
                    url: '@Url.Action("GetTodoDetails", "Todo")/' + todoId,
                    type: 'GET',
                    success: function (data) {
                        if (data.success === false) {
                            showNotification(data.message, 'error');
                            return;
                        }
                        
                        // Form alanlarını doldur
                        $('#todoId').val(data.id);
                        $('#todoTitle').val(data.title);
                        $('#todoCategory').val(data.taskCategory);
                        $('#todoDescription').val(data.description);
                        
                        // Deadline tarihini ayarla (varsa)
                        if (data.deadline) {
                            var date = new Date(data.deadline);
                            var formattedDate = date.toISOString().split('T')[0];
                            $('#todoDeadline').val(formattedDate);
                        } else {
                            $('#todoDeadline').val('');
                        }
                        
                        $('#todoIsCompleted').prop('checked', data.isCompleted);
                        
                        // Modalı göster
                        $('#todoModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error('Todo bilgileri alınırken hata oluştu:', error);
                        showNotification('Görev bilgileri alınamadı. Lütfen tekrar deneyin.', 'error');
                    }
                });
            });
            
            // Görevi Tamamlama
            $('.complete-todo').on('click', function () {
                var todoId = $(this).data('id');
                var row = $(this).closest('tr');
                
                $.ajax({
                    url: '@Url.Action("ToggleStatus", "Todo")/' + todoId,
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            // Satırı gizle (tamamlandığı için widget'tan kaldırılacak)
                            row.fadeOut(300, function() { 
                                $(this).remove(); 
                                
                                // Eğer başka görev kalmadıysa, "Görev bulunamadı" mesajını göster
                                if ($('.table-responsive tbody tr').length === 0) {
                                    var emptyMessage = `
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <p>Bekleyen görev bulunamadı.</p>
                                                <button type="button" class="btn btn-primary btn-sm" id="addNewTodo">
                                                    <i class="fa fa-plus-circle me-1"></i> Yeni Görev Ekle
                                                </button>
                                            </td>
                                        </tr>
                                    `;
                                    $('.table-responsive tbody').append(emptyMessage);
                                    
                                    // Yeni eklenen buton için event listener ekle
                                    $('#addNewTodo').on('click', function() {
                                        $('#newTodoModal').modal('show');
                                    });
                                }
                            });
                            
                            // Başarı mesajı
                            showNotification(data.message, 'success');
                        } else {
                            showNotification(data.message, 'error');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Görev tamamlanırken hata oluştu:', error);
                        showNotification('Bir hata oluştu. Lütfen tekrar deneyin.', 'error');
                    }
                });
            });
            
            // Todo kaydetme
            $('#saveTodoBtn').on('click', function () {
                var formData = $('#todoForm').serialize();
                
                $.ajax({
                    url: '@Url.Action("Update", "Todo")',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            // Modalı kapat
                            $('#todoModal').modal('hide');
                            
                            // Başarı bildirimi
                            showNotification(data.message, 'success');
                            
                            // Sayfayı yenile (güncelleme görmek için)
                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);
                        } else {
                            showNotification(data.message || 'Görev güncellenemedi.', 'error');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Görev güncellenirken hata oluştu:', error);
                        showNotification('Görev güncellenirken bir hata oluştu. Lütfen tekrar deneyin.', 'error');
                    }
                });
            });
            
            // Yeni görev ekleme modalını açma
            $(document).on('click', '#addNewTodo', function() {
                $('#newTodoModal').modal('show');
            });
            
            // Yeni görev ekleme
            $('#addTodoBtn').on('click', function () {
                var formData = $('#newTodoForm').serialize();
                
                $.ajax({
                    url: '@Url.Action("Create", "Todo")',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        if (data.success) {
                            // Modalı kapat
                            $('#newTodoModal').modal('hide');
                            
                            // Başarı bildirimi
                            showNotification(data.message, 'success');
                            
                            // Sayfayı yenile (yeni görevi görmek için)
                            setTimeout(function() {
                                window.location.reload();
                            }, 1000);
                        } else {
                            showNotification(data.message || 'Görev eklenemedi.', 'error');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Görev eklenirken hata oluştu:', error);
                        showNotification('Görev eklenirken bir hata oluştu. Lütfen tekrar deneyin.', 'error');
                    }
                });
            });
            
            // Bildirim gösterme fonksiyonu (Toastr kullanarak)
            function showNotification(message, type) {
                if (type === 'success') {
                    toastr.success(message);
                } else if (type === 'error') {
                    toastr.error(message);
                } else if (type === 'warning') {
                    toastr.warning(message);
                } else if (type === 'info') {
                    toastr.info(message);
                }
            }
            
            // Tema değişikliğinde grafikleri yeniden çizdirelim
            $('.mode').on('click', function () {
                setTimeout(function () {
                    window.dispatchEvent(new Event('resize'));
                }, 500);
            });
            
            // Stiller düzenlemeleri
            $('.card-option li i, .setting-option li i').each(function() {
                // Orjinal ikon sınıflarını koruyarak feather ikonları oluştur
                var iconClass = $(this).attr('class');
                if (iconClass.includes('icofont-maximize')) {
                    $(this).addClass('feather').addClass('icon-maximize');
                }
                if (iconClass.includes('icofont-minus')) {
                    $(this).addClass('feather').addClass('icon-minus');
                }
                if (iconClass.includes('icofont-plus')) {
                    $(this).addClass('feather').addClass('icon-plus');
                }
                if (iconClass.includes('icofont-refresh')) {
                    $(this).addClass('feather').addClass('icon-refresh-cw');
                }
                if (iconClass.includes('icofont-error')) {
                    $(this).addClass('feather').addClass('icon-x');
                }
            });
            
            // Setting ikonu için stiller
            $('.setting-primary i, .setting-secondary i').each(function() {
                $(this).addClass('icon-settings');
            });
        });
    </script>
}
