@model MuhasebeStokWebApp.ViewModels.FormElements.TextAreaInputViewModel

<div class="form-group">
    <label asp-for="@Model.For" class="control-label">@Model.Label</label>
    <textarea asp-for="@Model.For" 
              class="form-control @(ViewData.ModelState.TryGetValue(Model.For.Name, out var entry) && entry.Errors.Count > 0 ? "is-invalid" : "")" 
              placeholder="@Model.Placeholder"
              rows="@Model.Rows">@Model.Value</textarea>
    <span asp-validation-for="@Model.For" class="text-danger"></span>
    @if (!string.IsNullOrEmpty(Model.HelpText))
    {
        <small class="form-text text-muted">@Model.HelpText</small>
    }
</div> 