@model MuhasebeStokWebApp.Data.Entities.ParaBirimi

@{
    ViewData["Title"] = "Para Birimi Detayları";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Para Birimi Detayları</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Döviz Kodu</dt>
                        <dd class="col-sm-9">@Model.Kod</dd>
                        
                        <dt class="col-sm-3">Para Birimi Adı</dt>
                        <dd class="col-sm-9">@Model.Ad</dd>
                        
                        <dt class="col-sm-3">Sembol</dt>
                        <dd class="col-sm-9">@Model.Sembol</dd>
                        
                        <dt class="col-sm-3">Durum</dt>
                        <dd class="col-sm-9">
                            @if (Model.Aktif)
                            {
                                <span class="badge bg-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Pasif</span>
                            }
                        </dd>
                        
                        <dt class="col-sm-3">Oluşturma Tarihi</dt>
                        <dd class="col-sm-9">@Model.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</dd>
                        
                        <dt class="col-sm-3">Son Güncelleme Tarihi</dt>
                        <dd class="col-sm-9">
                            @if (Model.GuncellemeTarihi.Year > 1)
                            {
                                @Model.GuncellemeTarihi.ToString("dd.MM.yyyy HH:mm")
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </dd>
                    </dl>
                    
                    <div class="form-group mt-3">
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Listeye Dön
                        </a>
                        <a asp-action="Edit" asp-route-id="@Model.ParaBirimiID" class="btn btn-warning">
                            <i class="bi bi-pencil"></i> Düzenle
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 