@model MuhasebeStokWebApp.Data.Entities.ParaBirimiIliski

@{
    ViewData["Title"] = "Para Birimi İlişkisi Sil";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h5 class="card-title">Para Birimi İlişkisini Sil</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <h4 class="alert-heading">Uyarı!</h4>
                        <p>
                            <strong>@Model.KaynakParaBirimi.Kod</strong> ile <strong>@Model.HedefParaBirimi.Kod</strong> arasındaki para birimi ilişkisini silmek istediğinizden emin misiniz?
                        </p>
                        <p>Bu işlem geri alınamaz.</p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th class="col-4">Kaynak Para Birimi</th>
                                <td>@Model.KaynakParaBirimi.Kod (@Model.KaynakParaBirimi.Ad)</td>
                            </tr>
                            <tr>
                                <th>Hedef Para Birimi</th>
                                <td>@Model.HedefParaBirimi.Kod (@Model.HedefParaBirimi.Ad)</td>
                            </tr>
                            <tr>
                                <th>Çevrim Katsayısı</th>
                                <td>@Model.Carpan</td>
                            </tr>
                            <tr>
                                <th>Oluşturma Tarihi</th>
                                <td>@Model.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                            </tr>
                            <tr>
                                <th>Güncelleme Tarihi</th>
                                <td>@Model.GuncellemeTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                            </tr>
                        </table>
                    </div>

                    <form asp-action="DeleteConfirmed" method="post">
                        <input type="hidden" asp-for="ParaBirimiIliskiID" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fa fa-trash"></i> Sil
                        </button>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fa fa-arrow-left"></i> Vazgeç
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 