@model MuhasebeStokWebApp.Data.Entities.ParaBirimiIliski

@{
    ViewData["Title"] = "Para Birimi İlişkisi Detayları";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">Para Birimi İlişkisi Detayları</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th class="col-4">ID</th>
                                <td>@Model.ParaBirimiIliskiID</td>
                            </tr>
                            <tr>
                                <th>Kaynak Para Birimi</th>
                                <td>@Model.KaynakParaBirimi.Kod (@Model.KaynakParaBirimi.Ad)</td>
                            </tr>
                            <tr>
                                <th>Hedef Para Birimi</th>
                                <td>@Model.HedefParaBirimi.Kod (@Model.HedefParaBirimi.Ad)</td>
                            </tr>
                            <tr>
                                <th>Çevrim Katsayısı</th>
                                <td>@Model.Carpan</td>
                            </tr>
                            <tr>
                                <th>Aktif Mi?</th>
                                <td>@(Model.Aktif ? "Evet" : "Hayır")</td>
                            </tr>
                            <tr>
                                <th>Oluşturma Tarihi</th>
                                <td>@Model.OlusturmaTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                            </tr>
                            <tr>
                                <th>Güncelleme Tarihi</th>
                                <td>@Model.GuncellemeTarihi.ToString("dd.MM.yyyy HH:mm")</td>
                            </tr>
                        </table>
                    </div>

                    <div class="mt-3">
                        <a asp-action="Edit" asp-route-id="@Model.ParaBirimiIliskiID" class="btn btn-primary">
                            <i class="fa fa-edit"></i> Düzenle
                        </a>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="fa fa-arrow-left"></i> Listeye Dön
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 