@model MuhasebeStokWebApp.ViewModels.Kur.KurDegeriViewModel

@{
    ViewData["Title"] = "Kur Değeri Sil";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger">
                    <h3 class="card-title">Kur Değeri Sil</h3>
                    <div class="card-tools">
                        <a asp-action="Index" class="btn btn-sm btn-secondary">
                            <i class="fas fa-arrow-left"></i> Kur Yönetimine Dön
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <h5><i class="icon fas fa-exclamation-triangle"></i> Uyarı!</h5>
                        <p>Bu kur değerini silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.</p>
                    </div>
                    
                    <dl class="row">
                        <dt class="col-sm-4">Para Birimi</dt>
                        <dd class="col-sm-8">@Model.ParaBirimiKodu</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.AlisDegeri)</dt>
                        <dd class="col-sm-8">@Model.AlisDegeri.ToString("N6")</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.SatisDegeri)</dt>
                        <dd class="col-sm-8">@Model.SatisDegeri.ToString("N6")</dd>
                        
                        <dt class="col-sm-4">Ortalama Değer</dt>
                        <dd class="col-sm-8">@(((Model.AlisDegeri + Model.SatisDegeri) / 2).ToString("N6"))</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Tarih)</dt>
                        <dd class="col-sm-8">@Model.Tarih.ToString("dd.MM.yyyy")</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Kaynak)</dt>
                        <dd class="col-sm-8">@Model.Kaynak</dd>
                        
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Aktif)</dt>
                        <dd class="col-sm-8">
                            @if (Model.Aktif)
                            {
                                <span class="badge badge-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Pasif</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <form asp-action="KurDegeriSil" method="post">
                        <input type="hidden" asp-for="KurDegeriID" />
                        <div class="text-right">
                            <a asp-action="Index" class="btn btn-secondary">İptal</a>
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 